<a href="https://colab.research.google.com/github/chiang126/AIA-course_3.0/blob/main/20230812%E3%80%8D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data type   變數型別

#  數值變數

T = True
F = False
I = 123
F1 = 278.0
F2 = float(369)
C = 2.5+3.0j


# 字串變數

S = '01258965874258'

print(f'T: {type(T)} data type, value = {T}')
print(f'I: {type(I)} data type, value = {I}')
print(f'F1: {type(F1)} data type, value = {F1}')
print(f'F2: {type(F2)} data type,value = {F2}')
print(f'C: {type(C)} data type,value = {C}')
print(f'S: {type (S)} data type, value ={S}')

#  查看變數型態

T: <class 'bool'> data type, value = True
I: <class 'int'> data type, value = 123
F1: <class 'float'> data type, value = 278.0
F2: <class 'float'> data type,value = 369.0
C: <class 'complex'> data type,value = (2.5+3j)
S: <class 'str'> data type, value =01258965874258

In [ ]:
# 型別轉換

S = "3265852856147"
Int_S = int(S)
Float_S = float(S)
Complx_S = complex(S)

print(f'Int_S: {type(Int_S)} data type,value = {Int_S}')
print(f'Float_S:{type(Float_S)} data type,value = {Float_S}')
print(f'Complx_S:{type(Complx_S)} data type,value = {Complx_S}')

Int_S: <class 'int'> data type,value = 3265852856147
Float_S:<class 'float'> data type,value = 3265852856147.0
Complx_S:<class 'complex'> data type,value = (3265852856147+0j)

In [ ]:
 # slicing  取值

print(S[3:])
print(S[2::3])
print(S[-1:6:-2])

5852856147
6554
715

In [ ]:
#  變數的 Format Code

# 整數 %d
# 浮點數 %f
# 字串 %s


# 變數運算


a, b = 10, 3

print(f'{a}  +  {b} = {a + b}')        # 10 + 3
print(f'{a}  -  {b} = {a - b}')         #  10 - 3
print(f'{a}  *  {b} = {a * b}')        #  10 * 3
print(f'{a}  /  {b} = {a / b}')         # 10 / 3     一般除法，就算是兩個整數相除，也會將結果自動轉為浮點數
print(f'{a} //  {b} = {a // b}')        # 10 // 3   取整數     Floor division，只留下商
print(f'{a} **  {b} = {a ** b}')     #  10**3     10 的 3 次方
print(f'{a} % {b} = {a % b}')       # 10 % 3     取餘數      10 除以 3 的餘數

10  +  3 = 13
10  -  3 = 7
10  *  3 = 30
10  /  3 = 3.3333333333333335
10 //  3 = 3
10 **  3 = 1000
10 % 3 = 1

In [ ]:
# Container 資料容器

# List [ ]
# Tuple ( )
# Set ( 空的) 或 {有值}
# Dictionary

In [ ]:
from ast import Lambda

# List   有順序性   一般宣告建議使用中括號 [ ]

# 宣告
#emptyList 1 = []
#emptyList 2 = list()

# list 中可放入不同變數，或放入另一個list

L = [3,4,5,9,10,7,5,6,4]
print(L)

L.append(8)   # 在 list 最後面新增一筆資料，使用 append()
print(L)

L.remove(4)  # 使用 remove() 移除目前 list 中希望移除的值，注意如果希望移除的值出現了很多次， remove 只會移除前面數來第一個。
print(L)

L.pop(5)   # 使用 pop() 移除目前 list 中某個 index 的資料。
print(L)

print(len(L))   # 使用 len() 查詢目前 list總長度

[3, 4, 5, 9, 10, 7, 5, 6, 4]
[3, 4, 5, 9, 10, 7, 5, 6, 4, 8]
[3, 5, 9, 10, 7, 5, 6, 4, 8]
[3, 5, 9, 10, 7, 6, 4, 8]
8

In [ ]:
# 插入資料

L.insert(4, 5)    # 使用 insert(index, value) 在 index 處插入一筆資料，下例為在 index 為 3的地方插入一個 5
print(L)

# 使用 slicing 將 list 拆成兩半，則可以在中間插入多筆資料，下例為把 list 分成前四筆 含剩下的，並在中間插入 9 7 8 9。
L = L[:3] + [9, 7, 8, 9] + L[4:]
print(L)

[3, 5, 9, 10, 5, 7, 6, 4, 8]
[3, 5, 9, 9, 7, 8, 9, 5, 7, 6, 4, 8]

In [ ]:
# 使用 split() 將字串自動切成 list。

SS =  input().split()

print(SS)

325 489 51 361 1472 2
['325', '489', '51', '361', '1472', '2']

In [ ]:
# join() 則是和 split() 相反的功能，以某個結合符號(字串)將 list 內的東西接起來。

L = ['Alpha', 'Beta', 'Gamma', 'Theta']
print(", ".join(L))

Alpha, Beta, Gamma, Theta

In [ ]:
# 降冪 、 升冪

# 使用 sort()將 list 排序，預設是升序，如果要降序的話，需要加上 reverse = True

NN = [39, 2 , 58, 9, 4, 69,  ]

NN.sort()
print(NN)

NN.sort(reverse=True)
print(NN)

[2, 4, 9, 39, 58, 69]
[69, 58, 39, 9, 4, 2]

In [ ]:
# Tuple    和 list 很像
# 資料不可變動

In [ ]:
# Set   没有順序性

# 宣告
# S1 = set( 空的 )
# S2 = { 有值 }

S1 ={2,8,9,4,12,6,20}
S2 = {3,6,9,10,15,6,6}

print(S1 & S2)      # 兩集合的交集使用 & 符號
print(S1 | S2)     # 兩集合的聯集使用 | 符號
print(S1 - S2)    # 兩集合的差集使用 - 符號
print(S2 - S1)     # 兩集合的差集使用 - 符
print(S1 ^ S2)    # 兩集合的互斥集使用 ^ 符號
print(S1 <= S2)    # 使用 >, <, =, >=, <=, == 判斷集合間的子集關係
print(S1 >= S2)    # 使用 >, <, =, >=, <=, == 判斷集合間的子集關係
print(S1 == S2)    # 使用 >, <, =, >=, <=, == 判斷集合間的子集關係

{9, 6}
{2, 3, 4, 6, 8, 9, 10, 12, 15, 20}
{2, 4, 8, 12, 20}
{10, 3, 15}
{2, 3, 4, 8, 10, 12, 15, 20}
False
False
False

In [ ]:
S3 = {99, 22, 47, 8}

S3.add(36)    # 在集合中增加一物件
print(S3)

S3.update((6, 22, 8))      # 若要將集合與其他集合做合併，可使用 update()，兩集合重複的物件將不會重複合併。
print(S3)

{99, 36, 8, 47, 22}
{99, 36, 6, 8, 47, 22}

In [ ]:
 # Dictionary

# 宣告
# D1 = dict ( )
# D2 = { 空的 }   與  S2 = { 有值 } 易搞混，如果只宣告一個大括號的話，出來的型別會是字典！

# 宣告有資料的dictionay時，由於和set一樣都是使用{ }，所以在資料部分的格式必須由所區隔。
# 每一筆都需要有兩個任意型別的物件 (key, value)，例如 'a' 和 1，並且以冒號隔開，這樣的意思是在這個字典中，
# D = {'a': 1, 'b': 2, 3: 'c'}
# 呼叫 key('a') 會得到 value (1)。

In [ ]:
# 將 list 轉換成字典，注意 list 中每筆資料都要是一個 "內含兩個資料的 list"
# 轉換後 每兩筆中的第一筆將會是 key，另一筆是 value。

L = [[9, 'a'], [6, '7'], [3, 'c'], [2, 'd']]

D = dict(L)
print(D)

D['g'] = 88      # 在字典中新增一組資料 (key, value)，用宣告方式。
print(D)

D.update({'m': 55, 'p': 60, 'u': 7})    # 使用 update()，在字典中添加另一字典的資料
print(D)

{9: 'a', 6: '7', 3: 'c', 2: 'd'}
{9: 'a', 6: '7', 3: 'c', 2: 'd', 'g': 88}
{9: 'a', 6: '7', 3: 'c', 2: 'd', 'g': 88, 'm': 55, 'p': 60, 'u': 7}

In [ ]:
D1 =  {9: 'a', 6: '7', 3: 'c', 2: 'd', 'g': 88, 'm': 55, 'p': 60, 'u': 7}

del (D1['g'])    # 使用 del(key) 刪除字典內指定的 (key, value)資料
print(D1)

print(D1.pop('m'))   # 使用D.pop(key) 刪除字典內指定的 (key, value)資料, 同時取一次value
print(D1)

# 使用 clear() 清空字典內的所有資料
D1.clear()
print(D1)

{9: 'a', 6: '7', 3: 'c', 2: 'd', 'm': 55, 'p': 60, 'u': 7}
55
{9: 'a', 6: '7', 3: 'c', 2: 'd', 'p': 60, 'u': 7}
{}

In [ ]:
# 複製的注意事項
#請注意, 如果想複製一份container到另一個名稱上, 必須用.copy(), 否則兩個名稱會對應到同一個container資料

# 若只用 copy()，則為複製一份一樣的 list。
copyList = originalList.copy()

# 對 originalList 修改資料
originalList[0] = "Hello!"

# assignedList 也一起被修改
print(assignedList[0])

# copyList 因為是複製過來的，所以改動原串列對它是不會造成影響的。
print(copyList[0])